<div id="page-wrapper">
  <div class="main-page">
    <div class="forms">
      <div class="col-xs-12">

        <h5> <%= link_to 'Click Show All Reciepts', reciepts_path, class: 'btn btn-info btn-sm' %> </h5>
      <%= simple_form_for(@reciept) do |f| %>
        <div id="invoice-wrap">
          <div class="row">
          </div>
          <div class="row invoice-info">
            <form class="form-horizontal">
              <div class="col-xs-12 invoice-col">
                <label>Name</label>
                
                <%= f.text_field :name, class: "form-control", palceholder: "Name", required:"" %>
                <br/>
                <label>Address</label>
               
                <%= f.text_area :address, class: "form-control", palceholder: "Address", required:"" %>
                <br/>
                <label>Contact</label>
               
                <%= f.text_field :contact, class: "form-control", palceholder: "Contact", required:"" %>
                <br/>
                <label>Date</label>
                
                <%= f.date_select :date, class: "form-control", palceholder: "Date" %>
                <br/>
                <br/>

                
                 <label>Reciept Type</label>
                 
                   <%= f.select :reciept_type, options_for_select([['Donation'],['Abhishek'],['Bhaktinivas']]) %>
                <br/>
                <br/>
                  

                <label>Payment Mode</label>
                
                <%= f.select :payment_mode, options_for_select([['Cash'],['Swipe'],['Chaque']]) %>
 
                <br/>
                <br/>


                <label>Reciever</label>
                 
                <%= f.text_field :reciever, class: "form-control", palceholder: "Reciever Name", required:"" %>

                <br/>

                <label>Amount</label>
                <%= f.text_field :amount, class: "form-control", palceholder: "Amount", required:"" %>

                <br/>

              </div>
            </form>
            <br/>
            <div class="row">
              <div class="col-xs-12 pull-left">
                
                <%= f.button :submit, 'Submit Payment', class: 'btn btn-info btn-sm', id: "submit_invoice", data: {toggle: "modal", target: "#invoice_modal"}, :remote => true %>    
              </div>
            </div>  
            <div id="terms">
              <h5>Terms</h5>
              <textarea id="10">Write your own terms and condition statements as per requirement</textarea>
            </div>
        </div> 
      <% end %> 
      </div>
    </div>
  </div>
</div>
 
 
