<!DOCTYPE html>
<html>
  <head>
    <title>Chintamani Kalam Temple Management Erp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <%= stylesheet_link_tag    'print.css' %>
    <%= stylesheet_link_tag    'invoice.css' %>
    <%= javascript_include_tag 'main.js' %>
    <%= javascript_include_tag 'print.js' %>
    <%= javascript_include_tag 'invoice.js' %>

    
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


<%= stylesheet_link_tag    'bootstrap.css' %>
<%= stylesheet_link_tag    'style.css' %>
<%= stylesheet_link_tag    'font-awesome.css' %>
<%= stylesheet_link_tag    'SidebarNav.min.css' %>


<%= javascript_include_tag 'jquery-1.11.1.min.js' %>
<%= javascript_include_tag 'modernizr.custom.js' %>


<!-- <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
 -->
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

 

<%#= javascript_include_tag 'Chart.js' %>
<%#= javascript_include_tag 'amcharts.js' %>
<%= javascript_include_tag 'custom.js' %>
<%= stylesheet_link_tag    'custom.css' %>
<style>
#chartdiv {
  width: 100%;
  height: 295px;
}
</style>


<%= stylesheet_link_tag    'owl.carousel.css' %>
<%= javascript_include_tag 'owl.carousel.js' %>
  <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        items : 3,
        lazyLoad : true,
        autoPlay : true,
        pagination : true,
        nav:true,
       });
    });
  </script>

  <%= stylesheet_link_tag    'monthly.css' %>
          
  </head>

  <body class="cbp-spmenu-push">
    <div class="main-content">
    
    
    <%= render 'layouts/header' %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <%= yield %>
    <%= render 'layouts/footer' %>
</div>
  
 <%= javascript_include_tag 'classie.js' %>
    <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;
        
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
      };
      

      function disableOther( button ) {
        if( button !== 'showLeftPush' ) {
          classie.toggle( showLeftPush, 'disabled' );
        }
      }
    </script>
  <!-- //Classie --><!-- //for toggle left push menu script -->
    
  <%= javascript_include_tag 'jquery.nicescroll.js' %>
  <%= javascript_include_tag 'scripts.js' %>
  <%= javascript_include_tag 'SidebarNav.min.js' %>
    <script>
      $('.sidebar-menu').SidebarNav()
    </script>
 
    <!-- calendar -->
   
    <%= javascript_include_tag 'monthly.js' %>
    <script type="text/javascript">
        $(window).load( function() {

            $('#mycalendar').monthly({
                mode: 'event',
                
            });

            $('#mycalendar2').monthly({
                mode: 'picker',
                target: '#mytarget',
                setWidth: '250px',
                startHidden: true,
                showTrigger: '#mytarget',
                stylePast: true,
                disablePast: true
            });

        switch(window.location.protocol) {
        case 'http:':
        case 'https:':
        // running on a server, should be good.
        break;
        case 'file:':
        alert('Just a heads-up, events will not work when run locally.');
        }

        });
        </script>
    <!-- //calendar -->
  
   <%= javascript_include_tag 'bootstrap.js' %>
 
   
     
  </body>
</html>
